.form-wrapper {
    width: 400px;
    padding: 20px;
    background: linear-gradient(to right, rgb(0, 0, 0) 70%, rgb(46, 46, 46) 30%);
    border-radius: 20px; /* Bordes redondeados */
    color: rgb(0, 0, 0);
  }
  
  .form-wrapper form {
    display: flex;
    flex-direction: column;
  }
  
  .form-wrapper label {
    margin-bottom: 10px; /* Reducir el espacio entre etiquetas */
    width: 150px; /* Ancho fijo para todas las etiquetas */
    align-self: flex-start; /* Alinear a la izquierda */
    border: none; /* Eliminar el borde */
  }
  

  .form-wrapper input,
  .form-wrapper textarea {
    padding: 15px;
    margin-bottom: 10px; /* Reducir el espacio entre campos */
    border-radius: 5px;
    border: 1px solid #ccc; /* Agregar el estilo de borde */
  }
  
 
  .form-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

  .waitingResponse {
    pointer-events: none; 
    background-color: #f2f2f2; /* Cambia el color de fondo para indicar que está deshabilitado */
    color: #999; /* Cambia el color de texto para indicar que está deshabilitado */
}

.responseOk{
  pointer-events: auto; 
  background-color: #f3f3f3; /* Cambia el color de fondo para indicar que está deshabilitado */
  color: #000000; /* Cambia el color de texto para indicar que está deshabilitado */
}
  
#submit-button {
  background-color: #e2e2e2;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #ffffff;
}

.phantomElement{
  color:black;
}

.validationLabel {
  display: none;
}

.validationLabel.sendMessage {
  display:block;
  color:red;
  font-size: 20px;
}