.slider-container {
    position: relative;
    display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
  }
  
  .slider-image {
    width: 1200px;
    height: 800px;
    object-fit: cover;
    margin: 10px;
  }
  
  .arrow-button {
    position: absolute;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    bottom: 20px;
    cursor: pointer;
  }
  
  .arrow-button.prev {
    left: 20px;
  }
  
  .arrow-button.next {
    right: 20px;
  }
  
  .arrow-button svg {
    width: 24px;
    height: 24px;
    fill: #007bff;
  }
  
  .arrow-button:hover svg {
    fill: #0056b3;
  }
  