.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-links li a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 600px) {
    .footer-links {
      display: none;
    }
  }