#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  background-color: rgb(46, 44, 44);
  padding: 2rem;
  text-align: center;
}

body{ font-family: Arial, Helvetica, sans-serif;}

.name {
  position: fixed;
  top: 0;
  left: 30px;
  font-size: 2em;
  padding: 10px 20px;
  margin: 0;
  z-index: 999;
  background: linear-gradient(to right, white, rgb(225, 225, 230));
  background-clip: text; /* Utiliza background-clip en lugar de -webkit-background-clip */
  color: transparent;
}

.header {
  background: grey !important;
  margin-bottom: 20px; /* Agrega 20px de margen inferior */
  /* font-size: 2em; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Restaurar apariencia predeterminada en Firefox */
}

